myst_nb
myst-parser
altair~=4.1
bokeh
cython~=0.29
distributed~=2021.5
holoviews~=1.19.1
jupyter-book
matplotlib
numba~=0.53
numpy
pandas
pandas-bokeh~=0.5.5
pint~=0.17
pytest
scikit-image
seaborn
scikit-learn
sphinxcontrib-bibtex
sphinx-tabs
statsmodels
vega-datasets~=0.9.0
xarray