myst_nb
myst-parser
altair
bokeh
cython
distributed
holoviews
jupyter-book
matplotlib
numba
numpy
pandas
pandas-bokeh
pint
pytest
scikit-image
seaborn
scikit-learn
sphinxcontrib-bibtex
sphinx-tabs
statsmodels
vega-datasets
xarray
